.ShopItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.ShopItem__button {
    background: none;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #ff2c18;
    color: #ff2c18;
    border-radius: 10px;
    padding: 10px 20px;
}

.ShopItem__img {
    height: 300px;
}

.ShopItem__name {
    width: 300px;
    font-size: 25px;
}

.ShopItem__color {
    width: 100px;
}

.ShopItem__price {
    color: #ff2c18;
    font-size: 30px;
}